<!DOCTYPE html>
<html>

<h1 class="need-background">UrlConstruct#index</h1>
<span>you should not be here</span>
<body>









<%  if session[:user_name].present?  %>
<% if session[:is_admin]  %>
<%= button_to "2016 spring", {:action => "url2016SpringCourses" } %>
<%= button_to "2016 summer", {:action => "url2016SummerCourses" }%>
<%= button_to "2016 fall", {:action => "url2016FallCourses" }%>
<%= button_to "2017 spring", {:action => "url2017SpringCourses" }%>
<%= button_to "2017 summer", {:action => "url2017SummerCourses" }%>


<% end  %>
<% end %>


</body>


</html>
