<div class="user-show">

	<% if session[:user_id].present? %>
		<p>
		Hello <%=@user.username %>, this is your profile: </p>
		<p>
    	<strong>Name:</strong>
    	<%= @user.username %>
 	    </p>

 		 <p>
    	 <strong>Email:</strong>
    	 <%= @user.email %>
  		 </p>
			 <% if @user.course.any? %>
	 			<div class = "table-wrapper">
	 			<table class="center">
	 				<tr>
	 					<th><%= "faculty" %></th>
	 					<th><%= "number" %></th>
	 					<th><%= "unit" %></th>
	 					<th><%= "designation" %></th>
	 					<th><%= "year" %></th>
	 					<th><%= "semester" %></th>
	 				</tr>
	 					<% @user.course.each do |course| %>
	 				    <tr>
	 				      <td><%= course.faculty %></td>
	 				      <td><%= course.number %></td>
	 				      <td><%= course.unit %></td>
	 				      <td><%= course.designation %></td>
	 				      <td><%= course.year %></td>
	 				      <td><%= course.semester %></td>
	 							<td><%= link_to "Remove", {:action => "remove", id: course.id} %></td>
								<td><%= link_to 'Show', course_path(course) %></td>
	 						</tr>
	 					<% end %>
					</div>
	 		<% end %>
  <%else %>
  		You are not logged in. No profile to show.

  <% end %>
