<div class="user-show">

	<% if session[:user_id].present? %>
		<br>
		<div class="white-background">
		<p>
		Hello <%=@user.username %>, this is your profile: </p>
		<p>
    	<strong>Name:</strong>
    	<%= @user.username %>
 	    </p>

 		 <p>
    	 <strong>Email:</strong>
    	 <%= @user.email %>
  		 </p>
  		 </div><br>
  		 <br>
  		 	<span class="course-cart"> Your course cart: </span>
			 <% if @user.course.any? %>
	 			<div class = "table-wrapper">
	 			<table class="center">
	 				<tr>
	 					<th><%= "faculty" %></th>
	 					<th><%= "number" %></th>
	 					<th><%= "unit" %></th>
	 					<th><%= "designation" %></th>
	 					<th><%= "year" %></th>
	 					<th><%= "semester" %></th>
	 				</tr>
	 					<% @user.course.each do |course| %>
	 				    <tr>
	 				      <td><%= course.faculty %></td>
	 				      <td><%= course.number %></td>
	 				      <td><%= course.unit %></td>
	 				      <td><%= course.designation %></td>
	 				      <td><%= course.year %></td>
	 				      <td><%= course.semester %></td>
	 							<td><%= link_to "Remove", {:action => "remove", id: course.id} %></td>
								<td><%= link_to 'Show', course_path(course) %></td>
	 						</tr>
	 					<% end %>
					</div>
	 		<% end %>
			<% if @user.tutorial.any? %>
				<div class = "table-wrapper">
				<table class="center">
					<tr>
						<th><%= "Name" %></th>
						<th><%= "Detail" %></th>
					</tr>
					<% @user.tutorial.each do |tutorial| %>
						<tr>
							<td><%= tutorial.tutname %></td>
							<td><%=raw tutorial.tutschedule %></td>
							<td><%= link_to "Remove", {:action => "remove_tut", id: tutorial.id} %></td>
						</tr>
				<% end %>
			<% end %>
  <%else %>
  		<br>
  		You are not logged in. No profile to show.

  <% end %>
