<h1>Schedule#p1</h1>
<p>Find me in app/views/schedule/p1.html.erb</p>
<p> <%= @display %>  </p>


<!--

<p> <%= @mon %>  </p>
<p> <%= @tue %>  </p>
<p> <%= @wed %>  </p>
<p> <%= @thu %>  </p>
<p> <%= @fri %>  </p>
<p> <%= @sat %>  </p>
<p> <%= @sun %>  </p>

-->
