<h1>Schedule Table of Courses in Portfolio</h1>

<% def populate(day, i) %>
  <% if day[i][2] != -111 %>
    <% course = Course.find(day[i][2]) %>
    <% link_to day[i][0], course_path(course) %>
  <% else %>
    <% day[i][0] %>
  <% end %>
<% end %>


<p> <%= @warning %>  </p>
<table class = 'schedule'>
  <tr class = 'oRow'>
    <th class = 'header'>
      time
    </th>
    <% for i in 0..6 %>
    <th class = 'header'>
      <%= @dWeekdays[i] %>
    </th>
    <% end %>
  </tr>

  <% for i in 0..31 %>
  <tr class = 'oRow'>
    <% if i%2==1 %>
      <td class='row'>
        <%= @timeSlot[i] %>
      </td>
      <td class='row'>
        <%= populate(@mon, i) %>
      </td>
      <td class='row'>
        <%= populate(@tue, i) %>
      </td>
      <td class='row'>
        <%= populate(@wed, i) %>
      </td>
      <td class='row'>
        <%= populate(@thu, i) %>
      </td>
      <td class='row'>
        <%= populate(@fri, i) %>
      </td>
      <td class='row'>
        <%= populate(@sat, i) %>
      </td>
      <td class='row'>
        <%= populate(@sun, i) %>
      </td>
    <% else %>
      <td class='odd'>
        <%= @timeSlot[i] %>
      </td>
      <td class='odd'>
        <%= populate(@mon, i) %>
      </td>
      <td class='odd'>
        <%= populate(@tue, i) %>
      </td>
      <td class='odd'>
        <%= populate(@wed, i) %>
      </td>
      <td class='odd'>
        <%= populate(@thu, i) %>
      </td>
      <td class='odd'>
        <%= populate(@fri, i) %>
      </td>
      <td class='odd'>
        <%= populate(@sat, i) %>
      </td>
      <td class='odd'>
        <%= populate(@sun, i) %>
      </td>
      <% end %>
    <% end %>
  </tr>


</table>
