<body>
	<h1> <img class="sfu-logo" src="http://www.sfu.ca/~hongweil/images/sfu.png" alt="sfu-logo">COURSE SEARCH</h1>
	<%= form_tag sort_path, :method => 'get' do %>
	<table class="course-search" align="center">

		<tr><td>Faculty:</td>
		<td> <%= select_tag :faculty, options_for_select( Course.all.pluck(:faculty).uniq.insert(0, "") ), :style => "width:173px" %>
		</td></tr>

		<tr><td>Number:</td><td><%= text_field_tag :number, params[:number] %></td></tr>

		<tr><td>Year:</td>
		<td><%= select_tag :year, options_for_select( Course.all.pluck(:year).uniq.insert(0, "") ), :style => "width:173px" %>
		</td></tr>

		<tr><td>Semester:</td>
		<td><%= select_tag :semester, options_for_select( Course.all.pluck(:semester).uniq.insert(0, "") ), :style => "width:173px" %>
		</td></tr>

		<tr><td>Unit:</td><td><%= text_field_tag :unit, params[:unit] %></td></tr>

		<tr><td>Designation:</td>
		<td> Writing<%= check_box_tag :W, "Writing" %>
		Quantitative<%= check_box_tag :Q, "Quantitative" %>
		<br>
		Breath &nbsp<%= select_tag :B, options_for_select(["","Breadth", "Breadth-Science",
					 "Breadth-Social", "Breadth-Humanities"]),
			:style => "width:103px" %>
		</td></tr>

	</table>
	<br>
	<%= submit_tag "Search",  class:"button", :name => "commit" %>
	<%= submit_tag "Search(in WQB order)", class:"button", :name => "commit" %>

	
<!-- 	<p> most viewed prof show here </p>

	<p> most commented prof show here </p>

	<p> highest rating prof show here </p> -->

	<p> Popular Courses : <br>
	<% if @nonEmptyView.length >= 3 %>
		<%=@nonEmptyView[0].faculty%> 
		<%=@nonEmptyView[0].number %> with <%=@nonEmptyView[0].viewCount%> views <br>

		<%=@nonEmptyView[1].faculty%> 
		<%=@nonEmptyView[1].number %> with <%=@nonEmptyView[1].viewCount%> views <br>

		<%=@nonEmptyView[2].faculty%> 
		<%=@nonEmptyView[2].number %> with <%=@nonEmptyView[2].viewCount%> views <br>
	<% else %>
		Not enough information to show.
	<% end %>
	 </p>
	
	<p> Hottest Course (Most Added to Student's Profile) : <br>
		<% if @nonEmptyCart.length >= 3 %>
		<%=@nonEmptyCart[0].faculty%> 
		<%=@nonEmptyCart[0].number %> with <%=@nonEmptyCart[0].cartCount%> additions <br>

		<%=@nonEmptyCart[1].faculty%> 
		<%=@nonEmptyCart[1].number %> with <%=@nonEmptyCart[1].cartCount%> additions <br>

		<%=@nonEmptyCart[2].faculty%> 
		<%=@nonEmptyCart[2].number %> with <%=@nonEmptyCart[2].cartCount%> additions <br>
	<% else %>
		Not enough information to show.
	<% end %>
	</p>

</body>
<% end %>
