<body>

	<div class="welcome-wrapper">
		<div class="recommendations-wrapper">
			<p>
			<div class= "recommendation-title"> Popular Courses </div>
			<span class="title-comment">(Most Viewed)</span>
			<br>
			<% if @nonEmptyView.length >= 3 %>
				
				<span class = "course-name"> 
				<%=@nonEmptyView[0].faculty%> 
				<%=@nonEmptyView[0].number %>
				</span> with <%=@nonEmptyView[0].viewCount%> views <br>

				<span class = "course-name"> 
				<%=@nonEmptyView[1].faculty%> 
				<%=@nonEmptyView[1].number %>
				</span> with <%=@nonEmptyView[1].viewCount%> views <br>	

				<span class = "course-name"> 
				<%=@nonEmptyView[2].faculty%> 
				<%=@nonEmptyView[2].number %>
				</span> with <%=@nonEmptyView[2].viewCount%> views <br>

			<% else %>
				Not enough information to show. (Minimum 3 courses must be viewed)
			<% end %>
			</p>

<br>
			<p>
			<div class= "recommendation-title"> Hottest Courses </div>  <span class= "title-comment">(Most Added to Student's Profile)</span>
			<br>
				<% if @nonEmptyCart.length >= 3 %>
				<span class = "course-name"> 
				<%=@nonEmptyCart[0].faculty%> 
				<%=@nonEmptyCart[0].number %>
				</span>with <%=@nonEmptyCart[0].cartCount%> additions <br>

				<span class = "course-name"> 
				<%=@nonEmptyCart[1].faculty%> 
				<%=@nonEmptyCart[1].number %>
				</span> with <%=@nonEmptyCart[1].cartCount%> additions <br>

				<span class = "course-name"> 
				<%=@nonEmptyCart[2].faculty%> 
				<%=@nonEmptyCart[2].number %>
				</span> with <%=@nonEmptyCart[2].cartCount%> additions <br>
			<% else %>
				Not enough information to show.
				(minimum 3 courses must have been added to course cart)
			<% end %>
			</p> <br><br>
		</div>

		<%= form_tag sort_path, :method => 'get', :class => 'course-search-form' do %>
			
			<h1> <img class="sfu-logo" src="http://www.sfu.ca/~hongweil/images/sfu.png" alt="sfu-logo">
			COURSE SEARCH</h1>
      <table class="course-search" align="center">



        <tr><td>Year:</td>
        <td><%= select_tag :year, options_for_select( Course.all.pluck(:year).uniq ), :style => "width:163px" %>
        </td></tr>

        <tr><td>Semester:</td>
        <td><%= select_tag :semester, options_for_select( Course.all.pluck(:semester).uniq ), :style => "width:163px" %>
        </td></tr>

        <tr><td>Faculty:</td>
        <td> <%= select_tag :faculty, options_for_select( Course.all.pluck(:faculty).uniq.insert(0, "") ), :style => "width:163px" %>
        </td></tr>

        <tr><td>Number:</td><td><%= text_field_tag :number, params[:number] ,:style => "width:153px" %></td></tr>

        <tr><td>Unit:</td><td><%= select_tag :unit, options_for_select( Course.all.pluck(:unit).uniq.sort_by! { |u| u.to_i } ) ,:style => "width:163px" %></td></tr>

        <tr><td>Professor:</td>
        <td> <%= select_tag :instructor, options_for_select( Course.all.pluck(:instructor).uniq.insert(0, "") ), :style => "width:163px" %>
        </td></tr>


        <tr><td>Designation:</td>
        <td> Writing<%= check_box_tag :W, "W" %>
        Quantitative<%= check_box_tag :Q, "Q" %>
        <br>
        Breath &nbsp<%= select_tag :B, options_for_select(["","Breadth", "Breadth-Science",
               "Breadth-Social", "Breadth-Humanities"]),
          :style => "width:103px" %>
        </td></tr>

        <tr><td>Schedule Days:</td>
        <td> 
          Mon<%= check_box_tag :Mon, "Mo" %>
          Tu<%= check_box_tag :Tu, "Tu" %>
          Wed<%= check_box_tag :Wed, "We" %>
          Th<%= check_box_tag :Th, "Th" %>
          Fri<%= check_box_tag :Fri, "Fr" %>
        <br>
    
        </td></tr>

      </table>
			<br>
			<p><%= submit_tag "Search",  class:"button", :name => "commit" %></p>
			<%= submit_tag "Search(in WQB order)", class:"button", :name => "commit" %>
		<% end %>
		


		<div class="recommendations-wrapper">
			<p>
			<div class= "recommendation-title"> Best Instructors </div>  <span class= "title-comment">(Highest Rating)</span>
			<br>
				<% if @profs_by_rating.length >= 3 %>
				<span class = "course-name"> 
				<%=@profs_by_rating[0].name%> 
				</span>with <%=@profs_by_rating[0].rating%> <br>

				<span class = "course-name"> 
				<%=@profs_by_rating[1].name%> 
				</span> with <%=@profs_by_rating[1].rating%> <br>

				<span class = "course-name"> 
				<%=@profs_by_rating[2].name%> 
				</span> with <%=@profs_by_rating[2].rating%> <br>
			<% else %>
				Not enough information to show.
				(minimum 3 profs must be rated, only <%=@profs_by_rating.length%> do now)
			<% end %>
			</p>

<br>
			<p>
			<div class= "recommendation-title"> Popular Instructors </div>  <span class= "title-comment">(Most Number of Comments)</span>
			<br>
				<% if @profs_by_comments_count.length >= 3 %>
				<span class = "course-name"> 
				<%=@profs_by_comments_count[0].name%> 
				</span>with <%=@profs_by_comments_count[0].commentsCount%> comments <br>

				<span class = "course-name"> 
				<%=@profs_by_comments_count[1].name%> 
				</span> with <%=@profs_by_comments_count[1].commentsCount%> comments <br>

				<span class = "course-name"> 
				<%=@profs_by_comments_count[2].name%> 
				</span> with <%=@profs_by_comments_count[2].commentsCount%> comments <br>
			<% else %>
				Not enough information to show.
				(minimum 3 profs must have comments, only <%=@profs_by_comments_count.length%> do now)
			<% end %>
			</p>
			<br><br>
		</div>
		
	</div>
</body>
