
<h1>this is sfu planner!</h1>
<table>
<tr>
	<th >
<%= link_to 'Courses:', controller: 'courses' %>
	<th>
 
 <%= form_tag courses_path, :method => 'get' do %>
  <p id=1>&nbsp
  	faculty
    <%= text_field_tag :faculty, params[:faculty] %> 

  	number
    <%= text_field_tag :number, params[:number] %>
    year
    <%= text_field_tag :year, params[:year] %> 
    semester
    <%= text_field_tag :semester, params[:semester] %> 
    <%= text_field_tag :section, params[:section] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  </th>
  </tr>
 </table>















<p id="notice"><%= notice %></p>

<div class="sign-up-button"> 
  <a class="sign-up" href= "/users/new"> SIGN UP </a><br>
</div>
<% if session[:user_name].present? %>

  <div class="logout-button"> 
    <a class="logout" href= "/sessions/logout"> LOGOUT </a><br>
  </div>
  Hello, <%=session[:user_name]%>!
<% else %>
  <div class="login-button"> 
    <a class="login" href= "/sessions/login"> LOGIN </a><br>
  </div>  
<% end %>





























<% end %>