<h1>Editing course</h1>

<%= form_for :course, url: course_path(@course), method: :patch do |f| %>


  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Back', courses_path %>