<h1>Listing courses</h1>

<div class = "table-wrapper"> 
  <table class="move-right">
    <tr>
      <th>Faculty</th>
      <th>Number</th>
      <th>Section</th>
      <th>Unit</th>
      <th>WQB</th>
      <th>Year</th>
      <th>Semester</th>
      
      <th><%= sortable "Faculty" %></th>
      <th><%= sortable "Year" %></th>
      <th><%= sortable "Unit", "Released" %></th>
     
    </tr>
   
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.faculty %></td>
        <td><%= course.number %></td>
        <td><%= course.section %></td>
        <td><%= course.unit %></td>
        <td><%= course.designation %></td>
        <td><%= course.year %></td>
        <td><%= course.semester %></td>
        <td><%= link_to 'Show', course_path(course) %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course_path(course),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table> <%= link_to 'New course', new_course_path %>

  <%= link_to 'Back', welcome_index_path %>

</div>