<h1>new course</h1>


<%= form_for :course, url: courses_path do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', courses_path %>

