
<p>
  <strong>Year:</strong>
  <%= @course.year %>
</p>
<p>
  <strong>Semester:</strong>
  <%= @course.semester %>
</p>
<p>
  <strong>Faculty:</strong>
  <%= @course.faculty %>
</p>
<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>
<p>
  <strong>Section:</strong>
  <%= @course.section %>
</p>
<p>
  <strong>Instructor:</strong>
  <%= @course.instructor %>
</p>
<p>
  <strong>Schedule:</strong>
  <%= @course.schedule %>
</p>
<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>
<p>
  <strong>Designation:</strong>
  <%= @course.designation %>
</p>
<p>
  <strong>Unit:</strong>
  <%= @course.unit %>
</p>
<p>
  <strong>CourseUrl:</strong>
  <%= @course.CourseUrl %>
</p>
<p>
  <strong>RoomNumber:</strong>
  <%= @course.RoomNumber %>
</p>

<% if @course.tutorial.any? %>
  <p>
    Tutorial sections
  </p>
  <table class="center">
  <tr>
    <th><%= "Section" %></th>
    <th><%= "Schdeule" %></th>
    <th><%= "Location" %></th>
  </tr>
  <%  @course.tutorial.each do |tutorial| %>
    <tr>
      <td><%= tutorial.tutname %></td>
      <td><%= tutorial.tutschedule %></td>
      <td><%= tutorial.tutlocation %></td>
    </tr>
  <% end %>
<% end %>
<%= link_to 'back', courses_path %>
