<div class = "course-overview">


<div class = "course-outline">


<p class = "upper-case">

  <%= @course.semester %>
  <%= @course.year %>
   - 
  <%= @course.faculty %>
  <%= @course.number %>
  <%= @course.section %>

</p>

<h1>
  <%= @course.title %>   (<%= @course.unit%>)
</h1>


<p class = "under-case">
  Delivery Method: <%= @course.deliveryMethod %>
</p> 


<h2> Outline </h2>
<p class = "subtitle">
  Course times + location: </p>
  <p class = "schedule"> <%=raw @course.schedule %> </p>
<p>



  <p class = "subtitle"> Instructor:</p>
  <p><%= @course.instructor %>
</p>

</div>
</br>

<h2> Description </h2>

<div class = "course-details">
  <%=raw @course.description %>
  <%= @course.additionDetails %>
</div>




<div>
<% if @course.tutorial.any? %>
  <p>
    Tutorial sections
  </p>
  <table class="center">
  <tr>
    <th><%= "Section" %></th>
    <th><%= "Schedule" %></th>

  </tr>
  <%  @course.tutorial.each do |tutorial| %>
    <tr>
      <td><%= tutorial.tutname %></td>
      <td><%=raw tutorial.tutschedule %></td>
      <% if session[:user_name].present? %>
        <% if !User.find(session[:user_id]).tutorial.exists?(tutorial.id) %>
          <td><%= link_to "Add", {:action => "add_tut", id: tutorial.id} %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  <% else %>
  <br>
<% end %>
</div>

