
<p>
  <strong>Year:</strong>
  <%= @course.year %>
</p>
<p>
  <strong>Semester:</strong>
  <%= @course.semester %>
</p>
<p>
  <strong>Faculty:</strong>
  <%= @course.faculty %>
</p>
<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>
<p>
  <strong>Section:</strong>
  <%= @course.section %>
</p>
<p>
  <strong>Instructor:</strong>
  <%= @course.instructor %>
</p>
<p>
  <strong>Schedule:</strong>
  <%= @course.schedule %>
</p>
<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>
<p>
  <strong>Unit:</strong>
  <%= @course.unit %>
</p>
<p>
  <strong>CourseUrl:</strong>
  <%= @course.CourseUrl %>
</p>



<%= link_to 'back', courses_path %>