<div class = "course-overview">


<div class = "course-outline">


<p class = "upper-case">

  <%= @course.semester %>
  <%= @course.year %>
   -
  <%= @course.faculty %>
  <%= @course.number %>
  <%= @course.section %>

</p>

<h1>
  <%= @course.title %>   (<%= @course.unit%>)
</h1>


<p class = "under-case">
  Delivery Method: <%= @course.deliveryMethod %>
</p>


<h2> Outline </h2>
<p class = "subtitle">
  Course times + location: </p>
  <p class = "schedule"> <%=raw @course.schedule %>
</p>



  <style type="text/css">
  .spoilerbutton {display:block;margin:5px 0;}
  .spoiler {overflow:hidden;background: none;}
  .spoiler > div {-webkit-transition: all 0.2s ease;-moz-transition: margin 0.2s ease;-o-transition: all 0.2s ease;transition: margin 0.2s ease;}
  .spoilerbutton[value="Schedule Table"] + .spoiler > div {margin-top:-100%;}
  .spoilerbutton[value="Hide"] + .spoiler {padding:5px;}
  </style>

  <input class="spoilerbutton" type="button" value="Schedule Table" onclick="this.value=this.value=='Schedule Table'?'Hide':'Schedule Table';">
  <div class="spoiler"><div>

    <% def populate(day, i) %>
      <% if day[i][2] != -111 %>
        <% if day[i][3] == 'course' %>
          <% course = Course.find(day[i][2]) %>
          <% link_to day[i][0], course_path(course) %>
        <% elsif day[i][3] == 'tutorial' %>
          <%  day[i][0] %>
        <% end %>
      <% else %>
        <% day[i][0] %>
      <% end %>
    <% end %>

    <% if @warning2 == "SFU api server timeout issue. Please refresh page. If error persists, please rerun application at later time" %>
      <p style="color:red;"> <%= @warning2 %>  </p>
    <% else %>
      <p> <%= @warning2 %>  </p>
    <% end %>
    <table class = 'schedule'>
      <tr class = 'oRow'>
        <th class = 'header'>
          time
        </th>
        <% for i in 0..6 %>
        <th class = 'header'>
          <%= @dWeekdays[i] %>
        </th>
        <% end %>
      </tr>

      <% for i in 0..31 %>
      <tr class = 'oRow'>
        <% if i%2==1 %>
          <td class='row'>
            <%= @timeSlot[i] %>
          </td>
          <td class='row'>
            <%= populate(@mon, i) %>
          </td>
          <td class='row'>
            <%= populate(@tue, i) %>
          </td>
          <td class='row'>
            <%= populate(@wed, i) %>
          </td>
          <td class='row'>
            <%= populate(@thu, i) %>
          </td>
          <td class='row'>
            <%= populate(@fri, i) %>
          </td>
          <td class='row'>
            <%= populate(@sat, i) %>
          </td>
          <td class='row'>
            <%= populate(@sun, i) %>
          </td>
        <% else %>
          <td class='odd'>
            <%= @timeSlot[i] %>
          </td>
          <td class='odd'>
            <%= populate(@mon, i) %>
          </td>
          <td class='odd'>
            <%= populate(@tue, i) %>
          </td>
          <td class='odd'>
            <%= populate(@wed, i) %>
          </td>
          <td class='odd'>
            <%= populate(@thu, i) %>
          </td>
          <td class='odd'>
            <%= populate(@fri, i) %>
          </td>
          <td class='odd'>
            <%= populate(@sat, i) %>
          </td>
          <td class='odd'>
            <%= populate(@sun, i) %>
          </td>
          <% end %>
        <% end %>
      </tr>
    </table>

  </div></div>


<p>
  <p class = "subtitle"> Instructor:<%= @course.instructor %>
</p>

<p>
  <p class = "subtitle"> Co-Requisit:<%= @course.coreq %>
</p>
<p>
  <p class = "subtitle"> Pre-Requisit:<%= @course.prereq%>
</p>
<p>
  <p class = "subtitle"> Required Textbooks:  <%=raw @course.requiredtext %>
</p>



</div>
</br>

<h2> Description </h2>

<div class = "course-details">
  <%=raw @course.description %>
  <%= @course.additionDetails %>
</div>





<div>
<% if @course.tutorial.any? %>
  <p>
    Tutorial sections
  </p>
  <table class="center">
  <tr>
    <th><%= "Section" %></th>
    <th><%= "Schedule" %></th>

  </tr>
  <%  @course.tutorial.each do |tutorial| %>
    <tr>
      <td><%= tutorial.tutname %></td>
      <td><%=raw tutorial.tutschedule %></td>
      <% if session[:user_name].present? %>
        <% if !User.find(session[:user_id]).tutorial.exists?(tutorial.id) %>
          <td><%= link_to "Add", {:action => "add_tut", id: tutorial.id} %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  <% else %>
  <br>
<% end %>
</div>
