<h1>Listing Searchc Result</h1>

<div class = "table-wrapper">
  <table class="move-right">
    <tr>

     <!-- <th><%= sort_link "faculty" %></th> -->
      <th><%= "faculty" %></th>
      <th><%= "number" %></th>
      <th><%= "unit" %></th>
      <th><%= "designation" %></th>
      <th><%= "year" %></th>
      <th><%= "semester" %></th>


    </tr>

    <% @courses.each do |course| %>
      <tr>
        <td><%= course.faculty %></td>
        <td><%= course.number %></td>
        <td><%= course.unit %></td>
        <td><%= course.designation %></td>
        <td><%= course.year %></td>
        <td><%= course.semester %></td>
        <td><%= link_to 'Show', course_path(course) %></td>
        <% if session[:is_admin] %>
          <td><%= link_to 'Edit', edit_course_path(course) %></td>
          <td><%= link_to 'Destroy', course_path(course),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <% if session[:is_admin] %>
    <%= link_to 'New course', new_course_path %>
  <% end %>
  <%= link_to 'Back', welcome_index_path %>

</div>
