<h1>Listing Search Result</h1>

<br>
<% if @pages_count > 1 %>
  <% $i = 1
  while $i <= @pages_count do %>
    <% if $i == @current_page %>
      <%= link_to $i, sort_path(page: $i), {:class => "page-button current"} %>
    <% else %>
      <%= link_to $i, sort_path(page: $i), {:class => "page-button"} %>
    <% end %>
    <% $i += 1 %>
  <% end %>
<% end %>
<br>


<div class = "table-wrapper">
  <table class="move-right">
    <tr>

     <!-- <th><%= sort_link "faculty" %></th> -->
      <th><%= "faculty" %></th>
      <th><%= "number" %></th>
      <th><%= "unit" %></th>
      <th><%= "designation" %></th>
      <th><%= "year" %></th>
      <th><%= "semester" %></th>


    </tr>

    <% @courses.each do |course| %>
      <tr>
        <td><%= course.faculty %></td>
        <td><%= course.number %></td>
        <td><%= course.unit %></td>
        <td><%= course.designation %></td>
        <td><%= course.year %></td>
        <td><%= course.semester %></td>
        <td><%= link_to 'Show', course_path(course) %></td>
        <% if session[:is_admin] %>
          <td><%= link_to 'Edit', edit_course_path(course) %></td>
          <td><%= link_to 'Destroy', course_path(course),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% if session[:user_name].present? %>
          <% if !User.find(session[:user_id]).course.exists?(course.id) %>
            <td><%= link_to "Add", {:action => "add", id: course.id} %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
  <% if session[:is_admin] %>
    <%= link_to 'New course', new_course_path %>
  <% end %>
  <%= link_to 'Back', welcome_index_path %>

</div>
