<h1> <img class="sfu-logo" src="http://www.sfu.ca/~hongweil/images/sfu.png" alt="sfu-logo">SEARCH A PROFESSOR  <%=@pages_count%></h1>

<%= form_tag prof_index_path, :method => 'get' do %>
	<table class= "prof-search" align="center">
		<tr><td>Professor name:</td><td><%= text_field_tag :prof_name, params[:prof_name] %>	<%= submit_tag "Search", class:"button", :name => nil %></td></tr>
	</table>
	<br>
	
<% end %>

<br>
<% if @pages_count > 1 %>
	<% $i = 1
	while $i <= @pages_count do %>
		<% if $i == @current_page %>
			<%= link_to $i, prof_index_path(page: $i, prof_name: params[:prof_name]), {:class => "page-button current"} %>
		<% else %>
			<%= link_to $i, prof_index_path(page: $i, prof_name: params[:prof_name]), {:class => "page-button"} %>
		<% end %>
		<% $i += 1 %>
	<% end %>
<% end %>
<br>
<div class="table-wrapper">
	<table>
		<tr>
			<th>Professor List</th>
		</tr>
	 
		<% @profs.each do |prof| %>
		    <tr>
		      <td><%= link_to prof, prof_show_path(:prof_name => prof) %></td>
		    </tr>
		<% end %>
	</table>

</div>